/*tailwind directives*/

body {
    font-family: "Allerta", monospace; 
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background-color: #F9F9F9;
}

.secondary-color{
    background-color: #8743DF5E;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
